.dashboard-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
}

.chart-container {
    margin: 20px 0;
    background-color: #f2f8ff;
    padding: 20px;
    border-radius: 12px;
}

.filter {
    margin-bottom: 20px;
}

.filter select {
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}