.prediction-page form {
    max-width: 500px;
    margin: auto;
}

.prediction-page label {
    font-weight: bold;
    margin-bottom: 5px;
}

.prediction-page input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.prediction-page button {
    width: 100%;
    background-color: #1e90ff;
    color: white;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.prediction-page button:hover {
    background-color: #63b3ed;
}

.result {
    margin-top: 20px;
    text-align: center;
    color: #1e90ff;
}